head { height: 100%; }

body {
  font-family: sans-serif;
  font-size: 0.8em;
  background: white;
  min-height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

p, ul {
  padding-bottom: 1em;
  line-height: 1.4em;
}

ul {
  padding-bottom: 1em;
  margin-left: 0.7em;
  font-size: 1.2em;
}

li {
  list-style: disc;
  margin-left: 1em;
}


strong {
  font-weight: bold;
}






div#review,
div#queued {
  margin-top:10px;
  margin-left:10px;
  width: 450px;
  float:left;
}

div#review h1.main,
div#queued h1.main {
  font-size: 3em;
  font-weight: bold;
}







div.snippet {
  
  width:520px;
  padding: 5px;
  background: #f0f0f0;
  
}

div.snippet h1 {
  font-size: 2.166em;
  line-height: 1.154;
  font-family: georgia,serif;
  color: #333333;
}

div.snippet h1 a{
  color: #333333;
  text-decoration: none;
}

div.snippet p.standfirst {
  font-size: 1.333em;
  font-family: arial,sans-serif;
  color: #666666;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  clear: both;
  overflow: hidden;
}

div.snippet p.byline {
  font-size:12px;
  line-height:1.25;
  padding-top: 0.4em;
  padding-bottom: 0em;
  clear: both;
}

div.snippet p.place_date {
  font-size:12px;
  line-height:1.25;
  padding-top: 0em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

div.snippet img.main {
  padding-top: 0.4em;  
  padding-bottom: 0.4em;
  max-width: 320px;
}


div.snippet p.photo_caption {
  line-height:1.357;
  font-family:arial,sans-serif;
  font-size:12px;
  color: #666666;
  padding-bottom: 1em;
}

div.snippet p.more {
  padding-top: 0em;
  padding-bottom: 0.4em;
}

div#the_news div#top_keyword_sub_holder {
  float: left;
  width:260px;  
}

div#the_news div.subsnippet {
  
  width:240px;
  padding: 10px;
  margin-bottom: 10px;
  background: #f0f0f0;
  float: left;
  font-size: 0.65em;

}


div.cover {
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100px;
  background: #eeeeee;
  opacity: 0.0;
  display: none;
}

div.news_holder_holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: none;
}

div.news_holder {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: hidden;
  width: 720px;
  background: white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.5);
}

div.news_holder div#main_news {
    float: left;
}

div.snippet_main {
  width: 460px;
  background: white;
  border-right: 1px #999999 dashed;
}

div.snippet_main img.main {
  max-width: 460px;
}

div.snippet_main h1 {
  font-family: DE4;
  font-size: 3.2em;
}

div.snippet_main p.standfirst {
  font-family: DS5;
}

div.snippet_main div.body {
  font-size: 1.2em;
}






div.preview {
  font-size: 0.8em;
  width:420px !important;
  margin-bottom: 10px;
  cursor: pointer;
}

div.preview p.standfirst img.thumbnail {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

div.preview p.standfirst {
  border-bottom: 1px solid #cecece;
}

div.preview p.place_date {
  border-bottom: none;
  margin-bottom: 0px;
}







div.news_holder div#extras {
  float: left;
  padding: 5px;
  width: 228px;
}

div.news_holder div#extras h1 {
  font-size: 3em;
}

div.news_holder div#details li.red {
  color: red;
}

div.news_holder div#details li.green {
  color: green;
}

div.news_holder div#actions li {
  cursor: pointer;
  list-style: none;
  color: blue;
  text-decoration: underline;
}




div.news_holder div#extras a.keywordbar {
  font-size: 1.2em;
  margin:2px 2px 2px;
  min-width:80px;
  padding:2px 8px 4px 4px;  
}

div#see_also a {
  font-size:1.2em;
  margin:2px;
  min-width:80px;
  padding:2px 8px 4px 4px;
  -moz-border-radius:0.3em 0.3em 0.3em 0.3em;
  background:none repeat scroll 0 0 #ECECEC;
  cursor:pointer;
  display:inline-block;
  font-family:DS5,arial,sans-serif;  
}