<html lang="en">
<head>
  <title>Longer Reads Queue</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/md5.js"></script>
  <script type="text/javascript" src="/js/control.js"></script>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <script>
    var data = {{ review_items }};
    var queued_data = {{ queued_items }};
  </script>
</head>
<body>

<div class="nav">
    <a href="http://longerreads.com">longerreads.com</a>
</div>

<div class="main">

    <div id="review">
    </div>
      
    <div id="queued">
    </div>
    
</div>


<div class="cover">
</div>

<div class="news_holder_holder">
  <div class="news_holder">

    <div id="main_news" class="snippet snippet_main">
    </div>

    <div id="extras">
      <h1>Details</h1>
      <div id="details">
      </div>

      <h1>Keywords</h1>
      <div id="keywords">
      </div>

      <h1>Actions</h1>
      <div id="actions">
      </div>

    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    control.display_review();
  });
</script>

</body>
</html>
