<html lang="en">
<head>
    <title>Word Count</title>
    <style type="text/css">
      div#links {
        display: none;
      }
     </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
</head>
<body>
    
  <div id="links">
    <a href="http://www.guardian.co.uk/media/tvandradioblog/2011/jan/17/piers-morgan-oprah-cnn-larry-king">Piers Morgan meets Oprah in his debut as CNN's new Larry King</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/uk-link-bangladesh-torture-centre">UK linked to notorious Bangladesh torture centre</a>
    <a href="http://www.guardian.co.uk/media/2011/jan/17/phone-hacking-news-of-the-world">NoW phone-hacking scandal: News Corp's 'rogue reporter' defence unravels</a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/18/nhs-reforms-risky-select-committee-warns">NHS reform plans risky and expensive, warn MPs on health select committee</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/haitians-ponder-return-baby-doc">Haitians ponder the return, after 25 years, of Baby Doc</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/baby-doc-duvalier-haiti-president">Baby Doc Duvalier: Haiti's playboy 'president-for-life'</a>
    <a href="http://www.guardian.co.uk/environment/2011/jan/17/undercover-spy-ring-minister-kennedy">Undercover police spy ring: minister to be questioned about Mark Kennedy</a>
    <a href="http://www.guardian.co.uk/uk/2011/jan/17/prince-charles-website-political-correspondence">Prince Charles's website clarifies political correspondence</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/michaela-mcareavey-death-mourned">Michaela McAreavey death mourned by thousands</a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/17/higher-tax-rate-hm-revenue">Higher-rate glitch delays tax bill for rich</a>
    <a href="http://www.guardian.co.uk/media/2011/jan/17/dominic-west-fred">Dominic West to star in Fred West drama</a>
    <a href="http://www.guardian.co.uk/society/2011/jan/17/low-price-alcohol-ban">Ministers accused of bottling decision to ban low-cost alcohol</a>
    <a href="http://www.guardian.co.uk/culture/2011/jan/17/ricky-gervais-golden-globes">And the award for rudeness goes to … Ricky Gervais!</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/bangladesh-secret-interrogation-centre">Bangladesh interrogation centre where Britons were taken to be tortured</a>
    <a href="http://www.guardian.co.uk/media/2011/jan/18/justin-webb-father-mystery">BBC's Justin Webb reveals father was 1970s newscaster</a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/17/house-of-lords-proportional-representation">Peers bed down for marathon session to pass reform bill</a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/17/david-cameron-public-services-nhs-education">David Cameron styles himself as heir to Tony Blair on public service reform</a>
    <a href="http://www.guardian.co.uk/society/2011/jan/17/history-of-nhs-reform">NHS reform: the struggle to prescribe the correct treatment </a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/17/david-cameron-speech-tony-blair">Sincerely, bafflingly, David Cameron becomes Tony Blair's heir</a>
    <a href="http://www.guardian.co.uk/uk/2011/jan/17/blair-ignored-goldsmith-chilcot-inquiry">Chilcot inquiry: Blair shut me out, says former legal chief Lord Goldsmith</a>
    <a href="http://www.guardian.co.uk/environment/2011/jan/17/sustainable-seafood-supermarkets-fish-fight">Sales of sustainable seafood soar in UK supermarkets</a>
    <a href="http://www.guardian.co.uk/uk/2011/jan/17/blue-monday-good-causes">Blue Monday provides a peg for good causes</a>
    <a href="http://www.guardian.co.uk/education/2011/jan/17/young-free-school-groups-refugees">Free school plan comes at a price for voluntary groups</a>
    <a href="http://www.guardian.co.uk/artanddesign/2011/jan/17/picasso-sothebys-la-lecture-auction">Picasso to make biggest impression at Sotheby's sale</a>
    <a href="http://www.guardian.co.uk/education/2011/jan/18/third-graduate-jobs-work-experience">Third of graduate jobs will go to people with work experience, poll shows</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/tunisia-old-guard-yes-men-reappear">Tunisia analysis: Old guard, 'new' government</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/tunisia-forms-unity-government">Tunisia forms unity government in effort to quell unrest</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/tunisian-protests-britain-holiday-destination">Despite Tunisian protests, PR agencies still pushing it as a holiday destination</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/tunisian-protests-sarkozy-off-guard">Tunisian protests have caught Nicolas Sarkozy off guard, say opposition</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/caligula-tomb-found-police-statue">Caligula's tomb found after police arrest man trying to smuggle statue</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/berlusconi-paid-sex-women-milan-home">Berlusconi paid for sex with 'many women' at his home, prosecutors claim</a>
    <a href="http://www.guardian.co.uk/world/picture/2011/jan/18/bolivia-lapaz-eyewitness-in-pictures">Eyewitness: Fight club - in pictures</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/iran-hangs-47-people">Iran has hanged 47 people in three weeks, say human rights groups</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/barak-labour-resignation-netanyahu-israel">Barak's Labour resignation strengthens government, says Netanyahu</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/un-gaza-john-ging-unrwa">UN director in Gaza quits for new post</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/iceland-reykjavik-nine-trial-starts">'Reykjavik Nine' go on trial in Iceland over 2008 storming of parliament</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/swiss-bank-dress-code-revamp">Swiss bank gets knickers in a twist over dress code guidelines</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/hu-jintao-white-house-visit">Hu Jintao set for lavish White House reception on state visit</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/ronald-reagan-alzheimers-president-son">Ronald Reagan had Alzheimer's while president, says son</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/wikileaks-cables-turkey-rendition-flights">WikiLeaks cables: Turkey let US use airbase for rendition flights</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/china-celebrity-ad-campaign-hu-jintao">China sends celebrity ad campaign to prime US for Hu Jintao's state visit</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/poorest-families-standard-of-living">Poorest families' standard of living 'will continue to fall'</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/lloyds-banking-group-bonuses">Lloyds Banking Group's new chief in line for 'golden hello' package worth millions</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/18/rics-housing-market-2010-chilly-note">Rics: Housing market ended 2010 on chilly note</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/former-marks-spencer-team-bids-bathstore">Former M&amp;S team bids for Bathstore</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/goldman-sachs-facebook-private-placement">Goldman Sachs suffers Facebook fiasco</a>
    <a href="http://www.guardian.co.uk/technology/2011/jan/17/steve-jobs-apple">Apple's Steve Jobs to take medical leave</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/boots-christmas-winners-sales-rise">Boots joins Christmas winners</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/santander-chief-faces-spanish-ban">Santander chief faces Spanish banking ban</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/airbus-boeing-orders-virgin-america">Airbus orders top Boeing sales as Virgin America buys 30 jets</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/northern-rock-seeks-potential-buyers">Northern Rock seeks potential buyers</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/bp-risks-rewards-russia">Risks and rewards for BP in Russia</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/bp-wins-australian-oil-exploration-permits">BP wins first Australian oil exploration permits</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/tnk-bp-break-up-predicted">TNK-BP boss predicted break-up of joint venture</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/17/eco-terrorism-policing-environmental-activists">Eco-terrorism: the non-existent threat we spend millions policing | George Monbiot</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/shared-parental-leave-nick-clegg">Is shared parental leave the best way forward? | Head to head</a>
    <a href="http://www.guardian.co.uk/commentisfree/cifamerica/2011/jan/17/china-hu-jintao-obama-summit">China's too big to be bullied by the US | Simon Tisdall</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/tunisia-ben-ali-dictator-coalition">Tunisians must dismantle the monster Ben Ali built | Soumaya Ghannoushi</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/david-laws-coalition-economic-policy">Why the cuts were the coalition's best decision | David Laws</a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/18/hugh-muir-diary">Hugh Muir's diary</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/17/free-market-bill-blow-nhs-apart">Tory free-market hurricane will blow our NHS apart | Polly Toynbee</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/in-praise-ikes-prescient-words">In praise of… Ike's prescient words | Editorial</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/david-cameron-nhs-reputation-risk">David Cameron and the NHS: A reputation at risk | Editorial</a>
    <a href="http://www.guardian.co.uk/environment/2011/jan/18/country-diary-north-derbyshire">Country diary: North Derbyshire</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/electoral-reform-peer-review-editorial">Electoral reform: Peer review | Editorial</a>
    <a href="http://www.guardian.co.uk/theguardian/2011/jan/18/corrections-clarifications">Corrections and clarifications</a>
    <a href="http://www.guardian.co.uk/commentisfree/2011/jan/18/response-tax-havens">Response: Well-run tax havens help, not hinder, the global economy</a>
    <a href="http://www.guardian.co.uk/society/2011/jan/18/disability-living-allowance-cuts-drastic-impact">Letter: Drastic impact of cut to mobility allowance</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/18/tunisia-protest-world-repercussions">Letters: Why Tunisia holds lessons for us all</a>
    <a href="http://www.guardian.co.uk/theguardian/2011/jan/18/simples-fact-meerkcat-nonfiction">Simples facts</a>
    <a href="http://www.guardian.co.uk/uk/2011/jan/18/deptford-fire-memories-race-issues">Letters: Deptford memories</a>
    <a href="http://www.guardian.co.uk/uk/2011/jan/18/police-campus-spies">Letter: Spies on campus</a>
    <a href="http://www.guardian.co.uk/society/2011/jan/18/open-prisons-resettlement-education">Letters: Open prisons are a key part of resettlement</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/18/blame-queensland-flooding-australia">Letters: Assigning blame for Queensland floods</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/malangatana-ngwenya-obituary">Malangatana Ngwenya obituary</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/david-kitson-obituary">David Kitson obituary</a>
    <a href="http://www.guardian.co.uk/law/2011/jan/17/sir-john-owen-obituary">Sir John Owen obituary</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/chuck-jordan-obituary">Chuck Jordan obituary</a>
    <a href="http://www.guardian.co.uk/theguardian/2011/jan/17/john-macreadie-obituary">John Macreadie obituary</a>
    <a href="http://www.guardian.co.uk/stage/2011/jan/17/a-view-from-the-bridge-review">A View from the Bridge - review</a>
    <a href="http://www.guardian.co.uk/music/2011/jan/17/budapest-festival-orchestra-fischer-review">Budapest Festival Orchestra/Fischer/Hough - review</a>
    <a href="http://www.guardian.co.uk/music/2011/jan/17/philharmonia-salonen-bartok-review">Philharmonia/Salonen - review</a>
    <a href="http://www.guardian.co.uk/stage/2011/jan/18/the-knowledge-review">The Knowledge - review</a>
    <a href="http://www.guardian.co.uk/environment/2011/jan/17/plastic-bag-use">UK plastic bag use on the rise</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/ehud-barak-quit-labour-israel">Ehud Barak quits Israeli Labour party</a>
    <a href="http://www.guardian.co.uk/business/2011/jan/17/uk-shale-gas-warning">Warning over UK shale gas projects</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/australian-floods-victoria-state">Australian floods threaten Victoria</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/self-immolation-protests-north-africa">Self-immolations across north Africa follow suicide in Tunisia</a>
    <a href="http://www.guardian.co.uk/society/2011/jan/18/women-offenders-support-network-funding">Women offenders' support network faces funding crisis</a>
    <a href="http://www.guardian.co.uk/culture/2011/jan/17/love-is-my-sin-review">Love Is My Sin - review</a>
    <a href="http://www.guardian.co.uk/culture/culture-cuts-blog/2011/jan/18/arts-council">Arts Council funding: up to 200 organisations could be culled</a>
    <a href="http://www.guardian.co.uk/society/2011/jan/18/heart-patients-die-general-wards">Heart patients 'more likely to die on general wards'</a>
    <a href="http://www.guardian.co.uk/media/2011/jan/17/julian-assange-tax-wikileaks-swiss">Julian Assange vows to reveal tax details of 2,000 wealthy people</a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/17/lord-taylor-false-expenses-trial">Peer was encouraged to claim false expenses in lieu of salary, court told</a>
    <a href="http://www.guardian.co.uk/world/2011/jan/17/tunisia-uprising-regional-reaction">Tunisian uprising fires a warning to region's hardliners</a>
    <a href="http://www.guardian.co.uk/film/2011/jan/17/nicole-kidman-birth-daughter-surrogate">Nicole Kidman announces birth of daughter born through surrogate</a>
    <a href="http://www.guardian.co.uk/commentisfree/cartoon/2011/jan/18/steve-bell-david-cameron">Steve Bell on David Cameron </a>
    <a href="http://www.guardian.co.uk/politics/2011/jan/18/labour-cheaper-alternatives-pfi">Labour government 'ignored cheaper alternatives to PFI'</a>
    <a href="http://www.guardian.co.uk/uk/2011/jan/18/john-darwin-canoe-man-released">John Darwin, the 'canoe man' who faked death, released from jail</a>
    <a href="http://www.guardian.co.uk/theguardian/2011/jan/18/archive-american-way-of-death">From the archive, 18 January 1977: The American way of death</a>
  </div>        
  

  <script>
  
      control = {
        words: {},
        links: [],
        pointer: 0,
        data: '',
        
        init: function() {
          $.each($('div#links a'), function(key, item) {
            var newlink = $(item).attr('href');
            newlink = newlink.replace('http://www.guardian.co.uk', 'http://content.guardianapis.com');
            newlink+= '?format=json&show-fields=body&order-by=newest&api-key=gufluffykittens&callback=?';
            control.links.push(newlink);
          })
          
          //  Now go thru each one and grab the data
          control.grabData();
        },
        
        grabData: function() {
          
          console.log(control.pointer);
          
          if (control.pointer >= control.links.length) {
            control.countWords();
            return;
          }
          
          var thisUrl = control.links[control.pointer];
          $.getJSON(thisUrl, function(data) {
            if ('response' in data && 'content' in data.response && 'fields' in data.response.content && 'body' in data.response.content.fields) {
              control.data+=data.response.content.fields.body;
            }
            control.pointer++;
            setTimeout('control.grabData()', 100);
          });

          
        },
        
        countWords: function() {
          control.data = removeHTMLTags(control.data);
          var data_a = control.data.split(' ');
          
          var counter = 0;
          $.each(data_a, function(index, word) {
            if (word.indexOf(',') == -1 && word.indexOf('.') == -1 && word.indexOf(':') == -1 && word.indexOf(';') == -1 && word.indexOf('"') == -1 && word.indexOf("'") == -1 && word.length > 3) {
              if (word in control.words) {
                control.words[word]++;
              } else {
                control.words[word] = 0;
                counter++;
              }
            }
          })
          console.log('total words = ' + counter);

        }
        
      }
      
      function removeHTMLTags(data){
        var strInputCode = data;
        strInputCode = strInputCode.replace(/&(lt|gt);/g, function (strMatch, p1){
          return (p1 == "lt")? "<" : ">";
        });
        var strTagStrippedText = strInputCode.replace(/<\/?[^>]+(>|$)/g, "");
        return strTagStrippedText;	
      }      

      $(document).ready(function()
      {
        control.init();
      })
  </script>
  
</body>
</html>
